*{
    color: black;
}

.titulo{
    color: black;
    margin-left: 42vw;
    margin-top: 3vw;
}
header{
    background-color: lightblue;
}
#logo{
    width: 10vw;
    height: 10vw;
    background-color: lightblue;
}